@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url(../fonts/Gilroy-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
@font-face {
  font-family: ZingRustDemo;
  font-display: swap;
  src: url(../fonts/ZingRustDemo-Base.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #333;
  line-height: 1;
  font-family: Gilroy;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Gilroy;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background: #fffcf6
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1;
  transition: opacity .3s
}
body ::selection {
  background-color: #fd9113;
  color: #fff
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 71.5625rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,69.6875rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background: linear-gradient(270deg,rgba(253,89,19,.6862745098) 0,rgba(253,159,19,.7137254902) 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 30px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  flex-direction: column;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  background-color: #eee;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 20px
}
.lock .popup__content {
  visibility: visible
}
.popup__body form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .9375rem
}
.popup__close {
  position: absolute;
  z-index: 200;
  top: -1.25rem;
  right: -1.25rem;
  background-color: #333;
  border-radius: 50%
}
.popup__close svg {
  padding: .625rem;
  width: 100%;
  height: 100%
}
.popup__input {
  padding: .9375rem 1.25rem;
  border-radius: .9375rem;
  outline: .125rem solid rgba(51,51,51,.2901960784);
  font-weight: 700
}
.popup__input:focus {
  outline-color: #fd9f13;
  caret-color: #fd9f13
}
.popup__btn {
  position: relative;
  z-index: 10;
  padding: 1.25rem 3.125rem
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-wrap: nowrap;
  border-radius: .9375rem;
  box-shadow: 0 0 20px 0 rgba(254,91,20,.4);
  background: linear-gradient(270deg,#fd9113 0,#fdbb13 100%);
  transition: color .6s
}
.button span {
  position: absolute;
  width: 300%;
  height: 200%;
  background: #fdbb13;
  border-radius: 50%;
  -webkit-transform: translate(-50%,-50%) scale(0);
  transform: translate(-50%,-50%) scale(0);
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease,-webkit-transform .8s ease;
  z-index: -1
}
.button-blue {
  box-shadow: 0 0 20px 0 rgba(70,180,236,.5);
  background: linear-gradient(270deg,#8ba4d8 0,#00c3ff 100%)
}
.button-blue span {
  background: #62d9fd
}
.button-red {
  box-shadow: 0 0 20px 0 rgba(245,2,118,.5);
  background: linear-gradient(270deg,#f50276 0,#f276b1 100%)
}
.button-red span {
  background: #f983bc
}
.button-violet {
  box-shadow: 0 0 20px 0 rgba(197,101,255,.5);
  background: linear-gradient(270deg,#cd62ff 0,#8a77ff 100%)
}
.button-violet span {
  background: #d887fe
}
.button-green {
  box-shadow: 0 0 20px 0 rgba(29,218,105,.5);
  background: linear-gradient(270deg,#1bdb68 0,#30c17c 80.21%)
}
.button-green span {
  background: #59fc9a
}
.link {
  cursor: pointer;
  text-decoration: none;
  border-bottom: 0;
  position: relative;
  display: inline-block;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  transition: color .5s,-webkit-transform 1s;
  transition: transform 1s,color .5s;
  transition: transform 1s,color .5s,-webkit-transform 1s;
  transition-timing-function: cubic-bezier(.2,1,.3,1)
}
.link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 100%;
  width: 100%;
  height: 2px;
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s;
  transition-timing-function: cubic-bezier(.2,1,.3,1);
  background: linear-gradient(270deg,#fd5913 0,#fd9f13 100%)
}
.title {
  font-weight: 700;
  line-height: 150%
}
.text {
  line-height: 171%;
  color: rgba(51,51,51,.7)
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
  row-gap: 1.25rem;
  border-radius: .9375rem;
  box-shadow: 0 0 20px 0 rgba(254,91,20,.4);
  background: linear-gradient(270deg,rgba(253,89,19,.3333333333) 0,rgba(253,159,19,.262745098) 100%)
}
.banner__sublabel {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1.25rem
}
.banner__label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem
}
.banner__persent {
  display: flex;
  align-items: flex-end;
  gap: .3125rem;
  font-weight: 700;
  color: #fe5b14;
  text-shadow: 0 0 20px rgba(254,91,20,.5)
}
.banner__before {
  font-size: 1.5rem;
  padding-bottom: .3125rem
}
.banner__counter {
  font-size: 4rem
}
.banner__after {
  font-size: 4rem
}
.banner__button {
  position: relative;
  z-index: 10;
  padding: .9375rem 1.25rem
}
.header {
  padding-top: .9375rem;
  padding-bottom: .9375rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: #fff;
  border-radius: 0 0 .9375rem .9375rem
}
.menu-open .header {
  transition: all .6s
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem
}
.header__logo {
  display: flex;
  align-items: center
}
.header__btn {
  position: relative;
  z-index: 5;
  padding: .9375rem 1.25rem;
  order: 4;
  flex: 0 0 auto
}
.sub-menu__link {
  text-wrap: nowrap;
  text-align: end;
  font-weight: 600;
  font-size: 1.125rem
}
.logo-header__first img {
  width: 100%
}
.logo-header__second img {
  width: 100%
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: .625rem;
  flex-wrap: wrap
}
.menu__item {
  position: relative;
  display: inline-flex;
  align-self: flex-end;
  order: 1;
  flex-direction: column
}
.menu__link {
  text-align: end;
  font-weight: 600
}
.menu__link svg {
  width: 1.25rem;
  height: 1.25rem;
  color: #ff5c00;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.footer {
  background-color: #fff;
  border-radius: .9375rem .9375rem 0 0
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
.footer__image {
  margin-bottom: 1.25rem;
  width: 11.875rem
}
.footer__image img {
  width: 100%;
  height: auto
}
.footer__label {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: .625rem
}
.footer__sublabel {
  font-size: .75rem
}
.footer__body {
  display: flex;
  justify-content: space-between
}
.footer__list {
  font-weight: 700
}
.footer__list:last-child {
  font-weight: 500
}
.footer__item:not(:last-child) {
  margin-bottom: 1.25rem
}
.footer__link {
  font-size: 1rem
}
.footer__tel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.4375rem;
  font-weight: 700
}
.footer__tel svg {
  width: 1.25rem;
  height: 1.25rem;
  color: #ff5c00;
  margin-right: .9375rem;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.footer__num {
  font-size: 1.5rem
}
.footer__time {
  font-size: 1.125rem
}
.loader {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #fffcf6;
  display: flex;
  align-items: center;
  justify-content: center
}
.loader__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}
.loader__text {
  text-align: center;
  font-family: ZingRustDemo
}
.loader__image img {
  width: 100%;
  height: 100%
}
.loader__btn {
  padding: 1.25rem 3.125rem
}
.page {
  position: relative;
  transition: -webkit-filter .6s;
  transition: filter .6s;
  transition: filter .6s,-webkit-filter .6s
}
.page::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  background: linear-gradient(270deg,rgba(253,89,19,.6862745098) 0,rgba(253,159,19,.7137254902) 100%);
  opacity: 0;
  transition: opacity .6s
}
.menu-open .page {
  -webkit-filter: blur(5px);
  filter: blur(5px)
}
.menu-open .page::before {
  opacity: 1;
  height: 100%
}
.page__main {
  margin-top: 5rem;
  padding-top: 1.9375rem
}
.main__body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.25rem;
  padding-bottom: 2.5rem
}
.main__title {
  margin-bottom: 1.625rem
}
.main__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375rem
}
.main__button {
  position: relative;
  z-index: 10;
  padding: .9375rem 1.25rem
}
.main__link {
  display: flex;
  gap: .625rem;
  font-weight: 500;
  font-size: 1rem;
  opacity: .7;
  text-decoration: underline;
  transition: opacity .3s;
  white-space: nowrap
}
.main__link svg {
  width: .9375rem;
  height: .9375rem
}
.main__images {
  display: flex;
  align-items: flex-start;
  justify-content: center
}
.main__image {
  position: relative
}
.main__image:nth-child(1) {
  max-width: 14.0625rem;
  z-index: 1
}
.main__image:nth-child(1) img {
  width: 100%;
  height: auto;
  aspect-ratio: 225/206;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.5625rem
}
.main__image:nth-child(2) {
  max-width: 20.75rem;
  margin-top: 4.125rem;
  -webkit-transform: translateX(-1.125rem);
  transform: translateX(-1.125rem);
  z-index: 2
}
.main__image:nth-child(2) img {
  width: 100%;
  height: auto;
  aspect-ratio: 332/386;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.5625rem
}
.main__decor-1 {
  position: absolute;
  z-index: 6;
  bottom: 27%;
  left: 35%;
  width: 15%
}
.main__decor-1 img {
  width: 100%;
  height: auto
}
.main__decor-2 {
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 20%;
  width: 30%
}
.main__decor-2 img {
  width: 100%;
  height: auto;
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 10s linear infinite
}
.main__decor-3 {
  position: absolute;
  z-index: 5;
  bottom: 5%;
  left: 40%;
  width: 15%
}
.main__decor-3 img {
  width: 100%;
  height: auto;
  -webkit-animation: rotate 8s linear infinite;
  animation: rotate 8s linear infinite
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg)
  }
}
.main__items {
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.item-main-link {
  transition: all .5s
}
.item-main__icon svg {
  width: 2.5rem;
  height: 2.5rem;
  color: #fe5b14
}
.item-main__label {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: .9375rem
}
.item-main__sublabel {
  color: rgba(51,51,51,.5)
}
.come__title {
  text-align: center;
  margin-bottom: 1.25rem
}
.come__text {
  text-align: center;
  color: rgba(51,51,51,.5);
  margin-bottom: 1.25rem
}
.come__slider {
  position: relative;
  margin-left: -.9375rem;
  margin-right: -.9375rem
}
.come__button-prev {
  position: absolute;
  top: 50%;
  left: .9375rem;
  width: 1.25rem;
  height: 1.25rem
}
.come__button-prev svg {
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.come__button-next {
  position: absolute;
  top: 50%;
  right: .9375rem;
  width: 1.25rem;
  height: 1.25rem
}
.come__button-next svg {
  width: 100%;
  height: 100%
}
.come__items {
  padding-bottom: 1.25rem
}
.come__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  flex-direction: row;
  padding-top: 2.5rem;
  margin-bottom: 2.5rem
}
.come__item._reverse {
  flex-direction: row-reverse
}
.swiper-button-disabled {
  opacity: .2
}
.item-come__image {
  flex: 50%
}
.item-come__image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 455/412;
  border-radius: 40% 80% 35% 54%;
  -webkit-animation: img-border 5s linear infinite;
  animation: img-border 5s linear infinite
}
@-webkit-keyframes img-border {
  0% {
    border-radius: 40% 80% 35% 54%
  }
  50% {
    border-radius: 80% 40% 70% 14%
  }
  100% {
    border-radius: 40% 80% 35% 54%
  }
}
@keyframes img-border {
  0% {
    border-radius: 40% 80% 35% 54%
  }
  50% {
    border-radius: 80% 40% 70% 14%
  }
  100% {
    border-radius: 40% 80% 35% 54%
  }
}
.item-come__image-1 {
  position: relative
}
.item-come__image-1::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 30%;
  aspect-ratio: 1/1;
  height: auto;
  border-radius: 50%;
  background: linear-gradient(270deg,#fcfb4f 0,#fd9f13 100%);
  box-shadow: 8px 10px 15px 0 rgba(0,0,0,.1);
  -webkit-animation: rotate-circle 5s linear infinite;
  animation: rotate-circle 5s linear infinite
}
.item-come__image-2 {
  position: relative
}
.item-come__image-2::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 40%;
  left: -10%;
  width: 30%;
  aspect-ratio: 1/1;
  height: auto;
  border-radius: 50%;
  background: linear-gradient(270deg,#8ba4d8 0,#00c3ff 100%);
  box-shadow: 8px 10px 15px 0 rgba(0,0,0,.1);
  -webkit-animation: rotate-circle 5s linear infinite;
  animation: rotate-circle 5s linear infinite
}
.item-come__image-3 {
  position: relative
}
.item-come__image-3::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 30%;
  aspect-ratio: 1/1;
  height: auto;
  border-radius: 50%;
  background: linear-gradient(270deg,#f50276 0,#f276b1 100%);
  box-shadow: 8px 10px 15px 0 rgba(0,0,0,.1);
  -webkit-animation: rotate-circle 5s linear infinite;
  animation: rotate-circle 5s linear infinite
}
.item-come__image-4 {
  position: relative
}
.item-come__image-4::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 30%;
  aspect-ratio: 1/1;
  height: auto;
  border-radius: 50%;
  background: linear-gradient(270deg,#cd62ff 0,#ff77c9 100%);
  box-shadow: 8px 10px 15px 0 rgba(0,0,0,.1);
  -webkit-animation: rotate-circle 5s linear infinite;
  animation: rotate-circle 5s linear infinite
}
.item-come__content {
  flex: 50%
}
.item-come__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block
}
.item-come__title--orange {
  background-image: linear-gradient(270deg,#fd9113 0,#fdbb13 100%)
}
.item-come__title--blue {
  background-image: linear-gradient(270deg,#8ba4d8 0,#00c3ff 100%)
}
.item-come__title--red {
  background-image: linear-gradient(270deg,#f50276 0,#f276b1 100%)
}
.item-come__title--violet {
  background-image: linear-gradient(270deg,#cd62ff 0,#8a77ff 100%)
}
.item-come__table {
  width: 100%;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 2.1875rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}
.item-come__table tr {
  display: flex;
  gap: 1.25rem;
  justify-content: space-between
}
.item-come__table tr:not(:last-child) {
  margin-bottom: 1.25rem
}
.item-come__table td {
  text-align: left
}
.item-come__table td:first-child {
  width: 70%
}
.item-come__table td:last-child {
  width: 30%;
  font-weight: 700;
  white-space: nowrap
}
.item-come__button {
  position: relative;
  z-index: 10;
  padding: .9375rem 1.25rem
}
@-webkit-keyframes rotate-circle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes rotate-circle {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.shop__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: 3.125rem
}
.shop__content {
  position: relative;
  z-index: 10;
  flex: 50%;
  display: flex;
  flex-direction: column
}
.shop__title {
  margin-bottom: 2.5rem
}
.shop__text {
  margin-bottom: 1.25rem
}
.shop__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: .9375rem
}
.shop__button {
  position: relative;
  z-index: 10;
  padding: .9375rem 1.25rem
}
.shop__label {
  color: rgba(51,51,51,.5)
}
.shop__images {
  position: relative;
  flex: 50%
}
.shop__image {
  width: 100%;
  height: auto;
  aspect-ratio: 428/535;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.5625rem
}
.shop__decor-1 {
  position: absolute;
  z-index: 6;
  bottom: 5%;
  left: 5%;
  width: 15%
}
.shop__decor-1 img {
  width: 100%;
  height: auto
}
.shop__decor-2 {
  position: absolute;
  z-index: 5;
  bottom: -10%;
  left: -10%;
  width: 30%
}
.shop__decor-2 img {
  width: 100%;
  height: auto;
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 10s linear infinite
}
.shop__decor-3 {
  position: absolute;
  z-index: 5;
  bottom: -5%;
  left: 12%;
  width: 15%
}
.shop__decor-3 img {
  width: 100%;
  height: auto;
  -webkit-animation: rotate 8s linear infinite;
  animation: rotate 8s linear infinite
}
.beauty__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  row-gap: 3.125rem
}
.beauty__content {
  position: relative;
  z-index: 10;
  flex: 50%;
  display: flex;
  flex-direction: column
}
.beauty__title {
  margin-bottom: 2.5rem
}
.beauty__text {
  margin-bottom: 1.25rem
}
.beauty__inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: .9375rem
}
.beauty__button {
  position: relative;
  z-index: 10;
  padding: .9375rem 1.25rem
}
.beauty__images {
  position: relative;
  flex: 50%
}
.beauty__image {
  width: 100%;
  height: auto;
  aspect-ratio: 428/535;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.5625rem
}
.beauty__decor-1 {
  position: absolute;
  z-index: 6;
  bottom: 5%;
  right: 5%;
  width: 15%
}
.beauty__decor-1 img {
  width: 100%;
  height: auto
}
.beauty__decor-2 {
  position: absolute;
  z-index: 5;
  bottom: -10%;
  right: -10%;
  width: 30%
}
.beauty__decor-2 img {
  width: 100%;
  height: auto;
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 10s linear infinite
}
.beauty__decor-3 {
  position: absolute;
  z-index: 5;
  bottom: -5%;
  right: 12%;
  width: 15%
}
.beauty__decor-3 img {
  width: 100%;
  height: auto;
  -webkit-animation: rotate 8s linear infinite;
  animation: rotate 8s linear infinite
}
.blog__container {
  position: relative;
  display: flex;
  flex-direction: column
}
.blog__title {
  text-align: center;
  margin-bottom: 1.875rem
}
.blog__link {
  color: #fe5b14;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  opacity: .7;
  text-decoration: underline;
  transition: opasity .3s
}
.blog__link svg {
  width: .875rem;
  height: .9375rem
}
.blog__link:nth-child(3) {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff
}
.blog__slider {
  margin-top: 1.25rem;
  padding: 1.875rem;
  margin-bottom: 1.875rem
}
.blog__instagram {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.875rem
}
.blog__label {
  font-size: 1.5rem;
  font-weight: 700
}
.slide-blog {
  background-color: #fff;
  border-radius: 1.5625rem;
  overflow: hidden;
  box-shadow: 0 0 20px 0 rgba(195,195,195,.4)
}
.slide-blog__image {
  overflow: hidden;
  border-radius: 1.5625rem
}
.slide-blog__image img {
  width: 100%;
  height: auto;
  aspect-ratio: 320/200;
  -o-object-fit: cover;
  object-fit: cover
}
.slide-blog__title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: .9375rem
}
.slide-blog__text {
  padding: .9375rem
}
.slide-blog__link {
  padding: .9375rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  opacity: .7;
  text-decoration: underline;
  transition: opasity .3s
}
.slide-blog__link svg {
  width: .875rem;
  height: .9375rem
}
.blog-image {
  margin: 0 auto
}
.blog-image__slide {
  border-radius: 1.5625rem;
  overflow: hidden
}
.blog-image__slide img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 245/300;
  border-radius: 1.5625rem
}
.contact__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem
}
.contact__address {
  margin-bottom: 1.875rem
}
.contact__sublabel {
  color: rgba(51,51,51,.7);
  margin-bottom: 1.25rem
}
.contact__label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1.25rem
}
.contact__link {
  color: #fe9313
}
.contact__button {
  position: relative;
  z-index: 10;
  padding: .9375rem 1.25rem
}
.contact__map {
  position: relative;
  width: 100%
}
.contact__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  aspect-ratio: 530/530
}
.contact__decor-1 {
  position: absolute;
  z-index: 6;
  bottom: 5%;
  left: 5%;
  width: 15%
}
.contact__decor-1 img {
  width: 100%;
  height: auto
}
.contact__decor-2 {
  position: absolute;
  z-index: 5;
  bottom: -15%;
  left: -15%;
  width: 30%
}
.contact__decor-2 img {
  width: 100%;
  height: auto;
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 10s linear infinite
}
.contact__decor-3 {
  position: absolute;
  z-index: 5;
  bottom: -10%;
  left: 5%;
  width: 15%
}
.contact__decor-3 img {
  width: 100%;
  height: auto;
  -webkit-animation: rotate 8s linear infinite;
  animation: rotate 8s linear infinite
}
.contact__coment {
  position: absolute;
  top: 30%;
  right: 25%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  border-radius: .625rem;
  -webkit-filter: drop-shadow(5px 2px 4px rgba(0, 0, 0, .6745098039));
  filter: drop-shadow(5px 2px 4px rgba(0, 0, 0, .6745098039))
}
.contact__coment::after {
  content: "";
  top: 100%;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #fff;
  border-width: 20px;
  margin-left: -18px
}
.contact__image-ok {
  width: 4.875rem;
  margin-bottom: .375rem
}
.contact__image-ok img {
  width: 100%;
  height: auto
}
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0
}
[data-tippy-root] {
  max-width: calc(100vw - 10px)
}
.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: visibility,opacity,-webkit-transform;
  transition-property: transform,visibility,opacity;
  transition-property: transform,visibility,opacity,-webkit-transform
}
.tippy-box[data-placement^=top]>.tippy-arrow {
  bottom: 0
}
.tippy-box[data-placement^=top]>.tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
  transform-origin: center top
}
.tippy-box[data-placement^=bottom]>.tippy-arrow {
  top: 0
}
.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom
}
.tippy-box[data-placement^=left]>.tippy-arrow {
  right: 0
}
.tippy-box[data-placement^=left]>.tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
  transform-origin: center left
}
.tippy-box[data-placement^=right]>.tippy-arrow {
  left: 0
}
.tippy-box[data-placement^=right]>.tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
  transform-origin: center right
}
.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.54,1.5,.38,1.11)
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333
}
.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .sub-menu__list {
    position: absolute;
    left: 50%;
    top: .9375rem;
    padding: 1.25rem 0 0 0;
    -webkit-filter: drop-shadow(5px 2px 4px rgba(0, 0, 0, .4352941176));
    filter: drop-shadow(5px 2px 4px rgba(0, 0, 0, .4352941176));
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translateX(-50%) rotateX(-90deg);
    transform: translateX(-50%) rotateX(-90deg);
    transition: all .3s linear;
    visibility: hidden;
    opacity: 0
  }
  .sub-menu__list::after {
    content: "";
    bottom: 85%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #fff;
    border-width: 20px;
    margin-left: -18px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
  .sub-menu__item {
    background-color: #fff;
    padding: .625rem 1.25rem
  }
  .sub-menu__item:first-child {
    border-radius: .9375rem .9375rem 0 0;
    padding-top: 1.25rem
  }
  .sub-menu__item:last-child {
    border-radius: 0 0 .9375rem .9375rem;
    padding-bottom: 1.25rem
  }
  .sub-menu__link {
    font-size: 1rem
  }
  .menu__link {
    font-size: 1rem
  }
  .main__content {
    width: 49%
  }
  .main__images {
    width: 47%
  }
  .item-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 7px 11px 50px 0 rgba(0,0,0,.1);
    background: #fff;
    border-radius: .9375rem;
    padding: 1.5625rem
  }
  .item-main__icon {
    margin-bottom: 1.25rem
  }
  .come__slider {
    display: none
  }
  .come__wrapper {
    display: none
  }
  .come__button-prev {
    display: none
  }
  .come__button-next {
    display: none
  }
  .contact__content {
    flex: 50%
  }
  .contact__map {
    flex: 50%
  }
}
@media (min-width:47.99875em)and (any-hover:hover) {
  .menu__item:hover .sub-menu__list {
    -webkit-transform: translateX(-50%) rotateX(0);
    transform: translateX(-50%) rotateX(0);
    visibility: visible;
    opacity: 1
  }
}
@media (min-width:71.5625em) {
  .popup__input {
    font-size: 1.125rem
  }
  .title {
    font-size: 2.875rem
  }
  .banner {
    padding: 2.5rem
  }
  .banner {
    margin-left: 3.625rem
  }
  .banner {
    margin-right: 3.625rem
  }
  .logo-header__first {
    width: 6.125rem
  }
  .logo-header__second {
    width: 7.5rem
  }
  .footer {
    padding-top: 2.25rem
  }
  .footer {
    padding-bottom: 1.25rem
  }
  .footer__body {
    -webkit-column-gap: 8.5625rem;
    -moz-column-gap: 8.5625rem;
    column-gap: 8.5625rem
  }
  .loader__text {
    font-size: 5rem
  }
  .loader__image {
    width: 25.6875rem
  }
  .loader__btn {
    margin-top: 2.5rem
  }
  .page__come {
    padding-top: 6.3125rem
  }
  .page__shop {
    padding-top: 6.3125rem
  }
  .page__beauty {
    padding-top: 6.3125rem
  }
  .page__blog {
    padding-top: 6.3125rem
  }
  .page__contact {
    padding-top: 6.3125rem
  }
  .page__contact {
    padding-bottom: 6.3125rem
  }
  .main__text {
    margin-bottom: 5.5rem
  }
  .main__items {
    -webkit-column-gap: 3.5625rem;
    -moz-column-gap: 3.5625rem;
    column-gap: 3.5625rem
  }
  .main__items {
    padding-left: 3.4375rem
  }
  .main__items {
    padding-right: 3.4375rem
  }
  .come__item {
    margin-left: 8.4375rem
  }
  .come__item {
    margin-right: 8.4375rem
  }
  .shop__body {
    -webkit-column-gap: 11.25rem;
    -moz-column-gap: 11.25rem;
    column-gap: 11.25rem
  }
  .shop__body {
    margin-bottom: 7.3125rem
  }
  .beauty__body {
    -webkit-column-gap: 11.25rem;
    -moz-column-gap: 11.25rem;
    column-gap: 11.25rem
  }
  .beauty__body {
    margin-bottom: 7.3125rem
  }
  .contact__title {
    margin-bottom: 3.125rem
  }
}
@media (max-width:20em) {
  .popup__input {
    font-size: 1rem
  }
  .title {
    font-size: 1.5rem
  }
  .banner {
    padding: 1.25rem
  }
  .footer {
    padding-top: 4.5625rem
  }
  .footer {
    padding-bottom: 3.75rem
  }
  .loader__text {
    font-size: 3.375rem
  }
  .loader__image {
    width: 16.25rem
  }
  .loader__btn {
    margin-top: 1.25rem
  }
  .page__come {
    padding-top: 2.375rem
  }
  .page__shop {
    padding-top: 2.375rem
  }
  .page__beauty {
    padding-top: 2.375rem
  }
  .page__blog {
    padding-top: 2.375rem
  }
  .page__contact {
    padding-top: 2.375rem
  }
  .page__contact {
    padding-bottom: 2.375rem
  }
  .main__text {
    margin-bottom: 1.25rem
  }
  .shop__body {
    margin-bottom: 1.875rem
  }
  .beauty__body {
    margin-bottom: 1.875rem
  }
  .contact__title {
    margin-bottom: 1.875rem
  }
}
@media (max-width:61.99875em) {
  .blog__slider {
    margin-left: -.9375rem;
    margin-right: -.9375rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 70%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: 7.5rem .9375rem .9375rem 1.875rem;
    background: #fff;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0 0 0 1.5625rem;
    transition: right .6s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 70%;
    height: 4.625rem;
    right: -100%;
    top: 0;
    transition: right .6s;
    z-index: 2;
    background: #fff
  }
  .menu-open .menu__body {
    right: 0
  }
  .menu-open .menu__body::before {
    right: 0
  }
  .menu__list {
    flex-direction: column
  }
  .menu__item {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0
  }
  .menu-open .menu__item {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
  }
  .menu__item:nth-child(1) {
    transition: all .3s ease-in-out .4s
  }
  .menu__item:nth-child(2) {
    transition: all .3s ease-in-out .5s
  }
  .menu__item:nth-child(3) {
    transition: all .3s ease-in-out .6s
  }
  .menu__item:nth-child(4) {
    transition: all .3s ease-in-out .7s
  }
  .menu__item:nth-child(5) {
    transition: all .3s ease-in-out .8s
  }
  .menu__item:nth-child(6) {
    transition: all .3s ease-in-out .9s
  }
  .menu__link {
    font-size: 1.375rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .banner {
    margin-left: .0000000625rem
  }
  .banner {
    margin-right: .0000000625rem;
    flex-direction: column
  }
  .banner__sublabel {
    text-align: center
  }
  .banner__label {
    text-align: center
  }
  .header__btn {
    align-self: flex-end
  }
  .sub-menu__list {
    height: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 1.25rem;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    transition: all .6s
  }
  .sub-menu__list._active {
    padding-top: 1.25rem;
    height: 100%;
    -webkit-transform: rotateX(0);
    transform: rotateX(0)
  }
  .logo-header__first {
    width: 5.0625rem
  }
  .logo-header__second {
    width: 5.625rem;
    display: none
  }
  .menu__list {
    row-gap: 1.25rem
  }
  .menu__item:last-child {
    order: 0
  }
  .footer__container {
    flex-direction: column;
    row-gap: 2.5rem
  }
  .footer__logo {
    align-items: center
  }
  .footer__body {
    -webkit-column-gap: 6.875rem;
    -moz-column-gap: 6.875rem;
    column-gap: 6.875rem
  }
  .footer__tel {
    align-items: center
  }
  .main__body {
    flex-direction: column-reverse;
    align-items: center
  }
  .main__title {
    text-align: center
  }
  .main__text {
    text-align: center
  }
  .main__links {
    flex-direction: column
  }
  .main__items {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .main__items {
    padding-left: .0000000625rem
  }
  .main__items {
    padding-right: .0000000625rem
  }
  .item-main__icon {
    position: relative;
    z-index: 50
  }
  .item-main__icon svg {
    width: 1.375rem;
    height: 1.375rem;
    color: #333
  }
  .item-main__label {
    display: none
  }
  .item-main__sublabel {
    display: none
  }
  .come__item {
    margin-left: .0000000625rem
  }
  .come__item {
    margin-right: .0000000625rem
  }
  .come__item._reverse {
    flex-direction: column
  }
  .come__item {
    flex-direction: column
  }
  .item-come__content {
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .item-come__table {
    align-items: center
  }
  .shop__body {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .shop__body {
    flex-direction: column-reverse
  }
  .shop__content {
    align-items: center
  }
  .shop__inner {
    justify-content: center
  }
  .beauty__body {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .beauty__body {
    flex-direction: column-reverse
  }
  .beauty__content {
    align-items: center
  }
  .beauty__inner {
    justify-content: center
  }
  .contact__container {
    flex-direction: column;
    justify-content: center
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .button {
    width: 100%
  }
  .button {
    width: 100%
  }
  .come__button-prev {
    top: 0
  }
  .come__button-next {
    top: 0
  }
  .item-come__table {
    font-size: .875rem
  }
  .slide-blog__title {
    font-size: 1.125rem
  }
}
@media (min-width:20em)and (max-width:71.5625em) {
  .popup__input {
    font-size: clamp(1rem ,.9515151515rem + .2424242424vw ,1.125rem)
  }
  .title {
    font-size: clamp(1.5rem ,.9666666667rem + 2.6666666667vw ,2.875rem)
  }
  .banner {
    padding: clamp(1.25rem ,.7651515152rem + 2.4242424242vw ,2.5rem)
  }
  .footer {
    padding-top: clamp(2.25rem ,5.459469697rem + -4.4848484848vw ,4.5625rem)
  }
  .footer {
    padding-bottom: clamp(1.25rem ,4.7196969697rem + -4.8484848485vw ,3.75rem)
  }
  .loader__text {
    font-size: clamp(3.375rem ,2.7446969697rem + 3.1515151515vw ,5rem)
  }
  .loader__image {
    width: clamp(16.25rem ,12.5893939394rem + 18.303030303vw ,25.6875rem)
  }
  .loader__btn {
    margin-top: clamp(1.25rem ,.7651515152rem + 2.4242424242vw ,2.5rem)
  }
  .page__come {
    padding-top: clamp(2.375rem ,.8477272727rem + 7.6363636364vw ,6.3125rem)
  }
  .page__shop {
    padding-top: clamp(2.375rem ,.8477272727rem + 7.6363636364vw ,6.3125rem)
  }
  .page__beauty {
    padding-top: clamp(2.375rem ,.8477272727rem + 7.6363636364vw ,6.3125rem)
  }
  .page__blog {
    padding-top: clamp(2.375rem ,.8477272727rem + 7.6363636364vw ,6.3125rem)
  }
  .page__contact {
    padding-top: clamp(2.375rem ,.8477272727rem + 7.6363636364vw ,6.3125rem)
  }
  .page__contact {
    padding-bottom: clamp(2.375rem ,.8477272727rem + 7.6363636364vw ,6.3125rem)
  }
  .main__text {
    margin-bottom: clamp(1.25rem ,-.3984848485rem + 8.2424242424vw ,5.5rem)
  }
  .shop__body {
    margin-bottom: clamp(1.875rem ,-.2340909091rem + 10.5454545455vw ,7.3125rem)
  }
  .beauty__body {
    margin-bottom: clamp(1.875rem ,-.2340909091rem + 10.5454545455vw ,7.3125rem)
  }
  .contact__title {
    margin-bottom: clamp(1.875rem ,1.3901515152rem + 2.4242424242vw ,3.125rem)
  }
}
@media (min-width:47.99875em)and (max-width:71.5625em) {
  .banner {
    margin-left: clamp(.0000000625rem ,-7.3840311613rem + 15.3837990027vw ,3.625rem)
  }
  .banner {
    margin-right: clamp(.0000000625rem ,-7.3840311613rem + 15.3837990027vw ,3.625rem)
  }
  .logo-header__first {
    width: clamp(5.0625rem ,2.8982149488rem + 4.509044613vw ,6.125rem)
  }
  .logo-header__second {
    width: clamp(5.625rem ,1.8056734391rem + 7.9571375524vw ,7.5rem)
  }
  .footer__body {
    -webkit-column-gap: clamp(2.5rem ,-9.8491558803rem + 25.728078086vw ,8.5625rem);
    -moz-column-gap: clamp(2.5rem ,-9.8491558803rem + 25.728078086vw ,8.5625rem);
    column-gap: clamp(2.5rem ,-9.8491558803rem + 25.728078086vw ,8.5625rem)
  }
  .main__items {
    -webkit-column-gap: clamp(1.25rem ,-3.4605027585rem + 9.8138029813vw ,3.5625rem);
    -moz-column-gap: clamp(1.25rem ,-3.4605027585rem + 9.8138029813vw ,3.5625rem);
    column-gap: clamp(1.25rem ,-3.4605027585rem + 9.8138029813vw ,3.5625rem)
  }
  .main__items {
    padding-left: clamp(.0000000625rem ,-7.0020985052rem + 14.5880852475vw ,3.4375rem)
  }
  .main__items {
    padding-right: clamp(.0000000625rem ,-7.0020985052rem + 14.5880852475vw ,3.4375rem)
  }
  .come__item {
    margin-left: clamp(.0000000625rem ,-17.1869693344rem + 35.8071187205vw ,8.4375rem)
  }
  .come__item {
    margin-right: clamp(.0000000625rem ,-17.1869693344rem + 35.8071187205vw ,8.4375rem)
  }
  .shop__body {
    -webkit-column-gap: clamp(1.25rem ,-19.1197416583rem + 42.4380669461vw ,11.25rem);
    -moz-column-gap: clamp(1.25rem ,-19.1197416583rem + 42.4380669461vw ,11.25rem);
    column-gap: clamp(1.25rem ,-19.1197416583rem + 42.4380669461vw ,11.25rem)
  }
  .beauty__body {
    -webkit-column-gap: clamp(1.25rem ,-19.1197416583rem + 42.4380669461vw ,11.25rem);
    -moz-column-gap: clamp(1.25rem ,-19.1197416583rem + 42.4380669461vw ,11.25rem);
    column-gap: clamp(1.25rem ,-19.1197416583rem + 42.4380669461vw ,11.25rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    color: #333
  }
  .button:hover span {
    -webkit-transform: translate(-50%,-50%) scale(1);
    transform: translate(-50%,-50%) scale(1)
  }
  .link:hover {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
  }
  .link:hover::before {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    transition-timing-function: ease-out
  }
  .menu__link svg:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  .footer__num:hover svg {
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
  }
  .main__link:hover {
    opacity: 1
  }
  .item-main-link:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    color: #fff;
    background: linear-gradient(270deg,#fe5b14 0,#fd9113 100%)
  }
  .item-main-link:hover .item-main__sublabel {
    color: #fff
  }
  .item-main-link:hover svg {
    color: #fff
  }
  .blog__link:hover {
    opacity: 1
  }
  .slide-blog__link:hover {
    opacity: 1
  }
  .contact__link:hover {
    text-decoration: underline
  }
}